@import '../vars';

.list-element {
    text-align: center;
    max-width: 360px;
    height: 319px;
    background-color: $bck_mov;
    color: $white-color;
    padding: 18px 0;
    list-style: none;
    border-radius: 6px;
    box-sizing: border-box;

    @media screen and (max-width: $breakpoint900) {
        max-width: 342px;
        height: 309px;
    }

    @media screen and (max-width: $breakpoint410) {
        max-width: 300px;
        height: 271px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 18px;
        height: 18px;
    }

    &__title {
        @include font(500, 15px, 1.2);
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        
        &:hover {
            cursor: pointer;
            opacity: .8;
            text-decoration: underline;
        }
    }

    &__duration {
        width: 120px;
        text-align: right;
        @include font(500, 13px, 1.38);
        color: $font_grey;

        &:hover {
            cursor: pointer;
            opacity: .8;
            text-decoration: underline;
        }
    }

    &__img {
        margin: 16px 0 0;
        width: 100%;
        height: 200px;
        object-fit: cover;

        @media screen and (max-width: $breakpoint900) {
            height: 190px;
        }

        @media screen and (max-width: $breakpoint410) {
            height: 168px;
            margin: 14px 0 0;
        }

        &:hover {
            cursor: pointer;
            opacity: .8;
        }
    }

    &_link {
        text-decoration: none;
        color: $white-color;
    }

    &__button {
        &_default {
            transition: all .3s;
            width: 100px;
            height: 29px;
            border-radius: 30px;
            border: none;
            background-image: url('../../images/save6d.svg');
            background-repeat: no-repeat;
            margin-top: 16px;

            @media screen and (max-width: $breakpoint410) {
                margin-top: 14px;
            }

            &:hover {
                cursor: pointer;
                opacity: .8;
            }
        }

        &_saved {
            transition: all .3s;
            width: 100px;
            height: 29px;
            border-radius: 30px;
            border: none;
            background-color: $bck-button_grey;
            background-image: url('../../images/save.svg');
            background-repeat: no-repeat;

            &:hover {
                cursor: pointer;
                opacity: .8;
            }
        }

        &_remove {
            transition: all .3s;
            width: 100px;
            height: 29px;
            border: none;
            background-color: $bck-button_grey;
            border-radius: 30px;
            background-image: url('../../images/x.svg');
            background-position: 50% 50%;
            background-repeat: no-repeat;

            &:hover {
                cursor: pointer;
                opacity: .8;
            }
        }
    }
}