@import '../vars';

.search {

    padding: 60px 0 70px;
    margin: 0 70px 10px;
    border-bottom: 1px solid $border_portfolio;

    @media screen and (max-width: $breakpoint800) {
        padding: 80px 0 50px;
        margin: 0 30px 10px;
    }

    @media screen and (max-width: $breakpoint410) {
        padding: 80px 0 50px;
        margin: 0 14px 10px;
    }

    &__form {
        position: relative;
        width: 100%;
        margin-bottom: 41px;
        display: grid;
        grid-template-columns: 95fr 5fr;

        &_error {
            @include flex(row, center, center);
            @include font(400, 12px, 1.21);
            position: absolute;
            bottom: -20px;
            left: 25px;
            margin: 0 auto;
            color: $red;

            @media screen and (max-width: $breakpoint800) {
                font-size: 11px;
            }
        }
    }

    &__input-movie {
        min-height: 46px;
        border-radius: 40px 0 0 40px;
        background-color: $input_search;
        border: none;
        padding: 14px 22px;
        box-sizing: border-box;
        @include font(400, 13px, 1.31);
        color: $white-color;
        outline: none;
    }

    &__button {
        width: 46px;
        height: 46px;
        border: none;
        border-radius: 0 40px 40px 0;
        background-color: $input_search;
        background-image: url('../../images/find.svg');
        background-size: 34px 34px;
        background-repeat: no-repeat;
        background-position: 4px;
        vertical-align: middle;

        &:hover {
            cursor: pointer;
            opacity: .8;
        }
    }
}