@import '../vendor/fonts/fonts.scss';

@mixin font($weight, $size, $height) {
    font-family: 'Inter', Arial, sans-serif;
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}

@mixin flex($flex-direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

$bckg-color_header: #073042;
$border_portfolio: #424242;
$bck-button_grey: #313131;
$bck-color_tech: #272727;
$bck-color_grey: #303030;
$input_search: #2f2f2f;
$bck-color: #202020;
$bck_mov: #222;
$hoverColor: #808080;
$font_grey: #8b8b8b;
$border: #dadada;
$white-color: #fff;
$btn-color_green: #3ddc84;
$checkbox: #3DDC84;
$color-btn: #4285F4;
$red: #EE3465;

$breakpoint1439: 1439px;
$breakpoint1310: 1310px;
$breakpoint1024: 1024px;
$breakpoint1279: 1279px;
$breakpoint900: 900px;
$breakpoint800: 800px;
$breakpoint768: 768px;
$breakpoint767: 767px;
$breakpoint640: 640px;
$breakpoint600: 600px;
$breakpoint580: 580px;
$breakpoint550: 550px;
$breakpoint480: 480px;
$breakpoint460: 460px;
$breakpoint410: 410px;
$breakpoint320: 320px;