@import '../vars';

.footer {
    max-height: 172px;
    height: 100%;
    padding: 79px 70px 20px;

    @media screen and (max-width: $breakpoint768) {
        padding: 79px 30px 20px;
    }

    @media screen and (max-width: $breakpoint410) {
        padding: 79px 10px 10px;
    }

    &__body {
        margin: 0 0 20px;
        @include font(400, 13px, 1.23);
        text-align: center;
        color: $font_grey;

        @media screen and (max-width: $breakpoint580) {
            @include font(400, 12px, 1.25);
        }
    }

    &__copyright {
        @include font(400, 13px, 1.23);
        @include flex (row, space-between, flex-start);
        padding-top: 20px;
        border-top: 1px solid $border_portfolio;
        color: $white-color;

        @media screen and (max-width: $breakpoint580) {
            @include font(400, 12px, 1.25);
        }

        @media screen and (max-width: $breakpoint410) {
            @include flex(column-reverse, space-between, center);
            padding-top: 30px;
            gap: 30px;
        }

        &_list {
            @include flex(row, space-between, flex-start);
            column-gap: 20px;
            list-style: none;
            margin: 0;
            padding: 0;

            @media screen and (max-width: $breakpoint410) {
                @include flex(column, space-between, center);
                gap: 12px;
            }
        }
    }
}